/*
 * Forms
 * --------------------------------------------------
 */

input,
textarea,
button,
select {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
}

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  -webkit-appearance: none;
  background-color: #fff;
  border: var(--border-default);
  border-radius: 3px;
  height: 38px;
  line-height: var(--line-height-default);
  margin-bottom: 15px;
  outline: none;
  padding: 6px 10px;
  width: 100%;
}

input[type="search"] {
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 10px;
}

input[type="search"]:focus {
  text-align: left;
}

textarea {
  height: auto;
  resize: vertical;
}

select {
  background-color: #f8f8f8;
  font-size: 14px;
  height: auto;
}
